
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.banner-content {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 65px;
  text-align: center;
  margin-top: 309px;
}
.banner-content-bg{
    font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;

}
.banner-content-description{
    font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal ;
  font-style: normal;
  font-size: 24px;

}
.banner{
    background-image: url(Assets/Hero-bg.png);
    background-size:cover;
    background-position: ;
    background-repeat: ;
    margin-top: 0;
    margin-bottom: ;
}


.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    color: #FFFFFF;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
}

/*nav sstyles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 200px ;
}
.nav-titel{
    font-weight:700;
    font-size: 35px;
    color:  #4E47FF;
}
nav ul li{
    list-style: none;
}
.sec-section{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 113px;
    margin-left: 150px;
    margin-right: 150px;
}
.img{
  border-radius: 48px;
  border-radius: 10px;
  margin-right: 150px ;
  margin-top: 43px;
}


